.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  height: fit-content;
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-bottom: 20px;
}
